################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FluentValidationSample
/FluentValidationSample/bin/Debug/netcoreapp2.2
/FluentValidationSample/obj
